{% extends "topic/base.html" %}


{% block title %}
    设置
{% endblock %}


{% block sidebar %}
    <div id="sidebar">
        <div class="panel">
            <div class="header">
              <span class="col_fade">个人信息</span>
            </div>
            <div class="inner">
                <div class="user_card">
                    <div>
                        <a class="user_avatar" >
                            <img src="/static/images/kaola.jpg" title="考拉" alt="游客，您好, 请登录!">
                        </a>
                        <span class="user_name"></span>

                        <div class="board clearfix">
                            <div class="floor">
                                <span class="big">

                                欢迎来到 “夢 里 馬” 社区

                            </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {% endblock %}


{% block main %}

    <div id="content">
        <div class="panel">
            <div class="header">
            <ul class="breadcrumb">
                <li><a href="{{ url_for('topic.index') }}">主页</a><span class="divider">/</span></li>
                <li class="active">注册</li>
            </ul>
            </div>

            <div class="inner">
                <form id="setting_form" class="form-horizontal" action="{{ url_for('index.register') }}" method="post">
                    <div class="control-group">
                        <label class="control-label" for="name">用户名</label>

                        <div class="controls">
                            <input class="input-xlarge" id="name" name="username" size="30" type="text">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label " for="signature">密码</label>
                        <div class="controls">
                            <input class="input-xlarge" id="signature" name="password" size="30" type="password">
                        </div>
                    </div>

                    <div class="form-actions">
                        <input class="span-primary submit_btn" data-loading-text="保存中.." value="注册" type="submit">
                    </div>
                </form>
            </div>
        </div>
    </div>>
{% endblock %}