{% extends "topic/base.html" %}



{% block title %}
    论坛主页
{% endblock %}



{% block main %}

        <div id="content">
            <div class="panel">
                <div class="header">
                    <a href="{{ url_for('topic.index') }}"
                       class="topic-tab current-tab">
                        全部
                    </a>

                    {% for b in bs %}
                        <!--<a href="/topic?board_id={{ b.id }}"-->
                        <a href="{{ url_for('topic.index') }}?board_id={{ b.id }}"
                           class="topic-tab current-tab">
                            {{ b.title }}
                        </a>
                    {% endfor %}
                </div>
                <div class="inner post">
                    <div class="topic_list">
                        {% for t in ms %}
                            <div class="cell">
                                <a class="user_avatar pull-left">
                                    <img src="{{ t.user().user_image }}" title="{{ t.user().username }}"/>
                                </a>
                                <span class="reply_count pull-left">
                                    <span class="count_of_replies" title="回复数">{{ t.replies() | count }}</span>
                                    <span class="count_seperator">/</span>
                                    <span class="count_of_visits" title="点击数">{{ t.views }}</span>
                                </span>

                                <div class="topic_title_wrapper">
                                    <span class="put_top">{{ t.board().title }}</span>
                                <!--<a class="topic_title pull-right" href="{{ url_for('topic.delete', id=t.id, token=token) }}">-->
                                <!--<a class="topic_title pull-right" href="{{ url_for('topic.delete', id=t.id) }}">-->
                                    <!--删除-->
                                <!--</a>-->
                                    <a class="topic_title" href="{{ url_for('topic.detail', id=t.id) }}">
                                    {{ t.title }}
                                    </a>

                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

{% endblock %}



{% block js %}

    <script>
        (function () {
            var editor = new Editor();
            editor.render($('.editor')[0]);
        })();

    </script>

{% endblock %}